html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #677b8c;
    background-color: #fdeddd;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;

    /* @media screen and (max-width: 1023px){
        overflow-x: hidden;
    } */

    /* @media screen and (min-width: 1024px){
        overflow: hidden;

    } */
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
	
    margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.page-container { 
    display: flex;
    height: 100vh;
    /* @media screen and (max-width: 767px) {  */
        flex-direction: column; 
    /* } */

    /* @media screen and (min-width: 768px) { 
        flex-wrap: wrap;
    } */
}

.page-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* text-align: center; */
    background-color: #1c1c1c;
}

.contacts-list {
    padding: 20px 0;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    /* justify-content: center; */
    /* text-align: center; */
}

.contacts-item:not(:first-child) {
    margin-left: 10px;
}

.section {
    padding: 20px;
}

.title {
    display: none;
}

.section-list {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    /* @media screen and (min-width: 768px) {
        width: calc((100% - 20px) / 2);
    } */
}

.section-item {
    display: flex;
    padding: 10px;
    @media screen and (min-width: 768px) {
        /* position: relative; */
        width: calc((100% - 20px) / 2);

        /* transition: 0.5s; */
    }

    @media screen and (min-width: 1024px) {
        width: calc((100% - 20px) / 3);
    }
}

.section-item:hover,
.section-item:focus {
    border-top: #787a7d solid 1px;
    border-left: #787a7d solid 1px;
    border-right: #787a7d solid 2px;
    border-bottom: #787a7d solid 2px;
    border-radius: 2%;
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.section-item:not(:last-child) {
    margin-bottom: 10px;
}

.img-wrap {
    width: 40%;
    display: flex;
    align-items: center;
}

.section-img {
    width: 100%;
}

.content-wrap {
    width: 60%;
    margin-left: 15px;
}

.heading {
    font-size: 17px;
    font-weight: 700;
}

.subtitle {
    font-size: 12px;
    font-weight: 700;
}

.text {
    /* font-size: 10px; */
    font-weight: 400;
}

.desc {
     font-size: 10px;
    font-weight: 400;
}